* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

:root {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
}

body {
  min-height: 100vh;
  background-color: var(--background);
  color: var(--foreground);
}

p {
  letter-spacing: 0.5px;
  color: rgb(185, 182, 182);
}

.container {
  max-width: 1400px;
  padding: 2rem;
  margin-inline: auto;

}

.card {
  width: 250px;
  display: inline-block;
  border: 1px solid var(--secondary);
  background: var(--card);
  margin: 1rem;
  padding: 1.5rem;
  border-radius: 10px;
  text-align: center;
}

.card h3 {
  margin-bottom: 0.5rem;
}

.card button {
  padding: 0.3rem 1rem;
  border-radius: 10px;
  margin-top: 1rem;
  letter-spacing: 0.5px;
  font-weight: 500;
  border: 1px solid;
}


.card img {
  width: 100%;
  /* object-fit: contain; */
  border-radius: 23px;
  margin-top: 1rem;
}

.cart h1 {
  margin-bottom: 2rem;
  font-size: 3rem;
}

.cart .cart-list--header {
  display: flex;
  justify-content: space-around;
}

.cart .cart-item--list {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 20px;
  margin-block: 3rem;
}

.cart .cart-item {
  background-color: var(--card);
  padding: 20px;
  padding-inline: 2rem;
  display: grid;
  justify-content: space-around;
  /* align-items: center; */
  grid-template-columns: repeat(6, 1fr);
}

.cart .cart-item--info {
  display: flex;
  /* column-gap: 1rem; */
  align-items: center;
  grid-column-start: 1;
  grid-column-end: 4;
}


.cart .cart-item--info h4 {
  margin-left: 1rem;
}

.cart .cart-item img {
  width: 4rem;
}

.cart .cart-item .cart-item--inc_dec {
  font-size: 1.21rem;
  display: flex;
  gap: 0.5rem;
  height: fit-content;
}

.cart .cart-item .cart-item--inc_dec button {
  padding: 0.1rem 0.5rem;
  border-radius: 5px;
  cursor: pointer;
}